
code/
vim/.vim/undo/*
ssh/id_rsa
.DS_Store
git/.gitconfig
.git/
mercurial/.hgrc
npm/.npmrc
ssh/known_hosts
vim/.vim/.netrwhist
bin/google-cloud-sdk/
bash/mvnexec/.git/
bash/mvnexec/README.md
bash/mvnexec/mvnexec
ssh/github_rsa
ssh/github_rsa.pub
vim/.vim/swaps/
